 

 <div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Produtos
            </header>
            <div class="panel-body">
            <div class="adv-table">
            <%= link_to 'Nova consulta', new_pessoa_path, :class => 'btn btn-primary' %> 
            <%= link_to 'Teste', get_negative_pessoas_path, :class => 'btn btn-primary' %> 

            <table  class="display table table-bordered table-striped" id="dynamic-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Data</th> 
                <th></th> 
            </tr>
            </thead>
            <tbody>
              <% @pessoas.each do |p| %>
                <tr class = "<%= cycle("cor1", "cor2") %>">
                  <td><%= p.id.to_s.rjust(6,'0')%></td>
                  <td><%= p.data %></td>
                  <td><%= link_to 'Visualizar', p %></td>
                </tr>              
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
    </section>
  </div>
</div>

 