<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Consulta 
            </header> 
            <div class="panel-body">
            <div class="adv-table">
            <%= link_to 'Gerar nova pesquisa', get_negative_pessoa_consulta_path(:id => params[:id]),  :class => 'btn btn-primary' %> 
            <% pessoa = Pessoa.find_by_id(params[:id]) %>
            <h4 style="color:green">Arquivo utilizado: <%= pessoa.excel_file_name %></h4>
            <table  class="display table table-bordered table-striped" id="dynamic-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Documento</th>
                <th>Nome</th>
                <th>Ocorrencias</th>
                <th>Pend. Internas</th> 
                <th>Pend. Financeiras</th> 
                <th>Pend. Bacen</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
              <% pessoa_consultas.each do |c| %>
                <% if c.ocorrencias > 0 || c.pend_inter > 0 || c.pend_fin > 0 || c.pend_bacen > 0 %>
                  <tr style="color: red">
                <% else %>
                  <tr class = "<%= cycle("cor1", "cor2") %>">
                <% end %>
                  <td><%= c.id.to_s.rjust(6,'0')%></td>
                  <td><%= c.documento %></td>
                  <td><%= c.nome %></td>
                  <td><%= c.ocorrencias %></td> 
                  <td><%= c.pend_inter %></td> 
                  <td><%= c.pend_fin %></td>
                  <td><%= c.pend_bacen %></td>
                  <td><%= link_to 'Visualizar', c %></td>
                </tr>              
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </section>
  </div>
</div>
 
